:root {
  --main: #225779;
  --mint: #37a3a5;
  font-family: 'Roboto', sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.navbar {
  background: var(--main);
}

.nav-item {
  font-size: 16px;
  font-weight: 100;
  line-height: 19px;
  letter-spacing: -0.03em;
  text-align: left;
}

.fontfamily {
  font-family: Roboto;
  font-weight: 300;
  font-size: 16px;
  font-style: normal;
  line-height: 19px;
  letter-spacing: -0.03em;
  text-align: right;
}

#roundbtn {
  border-radius: 20px;
  font-weight: bold;
}

#middlesection {
  color: var(--main);
}

#middlesection p.h1 {
  font-family: Roboto;
  font-size: 48px;
  font-style: normal;
  font-weight: 900;
  line-height: 56px;
  letter-spacing: -0.03em;
  text-align: left;
}

#headerconstant {
  font-family: Roboto;
  font-size: 48px;
  font-style: normal;
  font-weight: 900;
  line-height: 56px;
  letter-spacing: -0.03em;
  text-align: left;
}

.paragraph {
  font-family: Roboto;
  font-size: 20px;
  font-style: normal;
  font-weight: 300;
  line-height: 23px;
  letter-spacing: -0.03em;
  text-align: left;
  color: #000;
}
.form {
  background-color: #fff;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.white {
  background-color: #fff;
  padding: 1rem;
}

.form-group {
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 300;
  line-height: 19px;
  letter-spacing: -0.03em;
  text-align: left;
}
.boxes {
  display: flex;
  flex-wrap: wrap;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 900;
  line-height: 19px;
  letter-spacing: -0.03em;
  text-align: center;
}

.box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  background: var(--mint);
  margin: 10px;
  height: 95px;
  width: 99px;
  color: #fff;
  border-radius: 10px;
  transition: transform 0.2s ease-in;
}

.formheader {
  font-family: Roboto;
  font-style: normal;
  font-weight: 900;
  font-size: 25px;
  line-height: 29px;
  letter-spacing: -0.03em;

  color: #37a3a5;
}

.formparagraph {
  font-family: Roboto;
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: -0.03em;

  color: #000000;
}

.border-form {
  border-bottom: 2px solid var(--mint);
}

.form-h4 {
  font-family: Roboto;
  font-size: 18px;
  font-style: normal;
  font-weight: 900;
  line-height: 20px;
  letter-spacing: -0.03em;
  text-align: left;
}

#inputState {
  background: #edeeee;
  border-radius: 20px;
}

.secondbox {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 1rem;
  margin: 10px;
  height: 95px;
  width: 99px;
  color: var(--mint);
  border-radius: 10px;
  transition: transform 0.2s ease-in;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 900;
  line-height: 19px;
  letter-spacing: -0.03em;
  text-align: left;
}

#competencymanagement {
  font-family: Roboto;
  font-size: 40px;
  font-style: normal;
  font-weight: 900;
  line-height: 45px;
  letter-spacing: -0.03em;
  text-align: left;
  color: #225779;
}
#competencyparagraph {
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 300;
  line-height: 21px;
  letter-spacing: -0.03em;
  text-align: left;
}

button.registerbtn {
  color: var(--main);
  border: 2px solid var(--main);
  border-radius: 20px;
  padding: 10px 30px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 900;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: -0.03em;
}

.box i {
  padding: 0.7rem;
}

.box:hover {
  transform: translateY(15px);
}
.secondbox:hover {
  transform: translateY(15px);
}

h2.team {
  font-family: Roboto;
  font-size: 20px;
  font-style: normal;
  font-weight: 300;
  line-height: 28px;
  letter-spacing: -0.03em;
  text-align: left;
}

.card-circle {
  background-color: #fff;
  width: 85px;
  height: 85px;
}

.dates {
  background-color: var(--main);
  font-family: Roboto;
  font-size: 30px;
  font-style: normal;
  font-weight: 900;
  line-height: 45px;
  letter-spacing: -0.03em;
  text-align: center;
  color: #fff;
}

.mint {
  color: var(--mint);
}

.newsletter {
  font-family: Roboto;
  font-size: 70px;
  font-style: normal;
  font-weight: 900;
  line-height: 79px;
  letter-spacing: -0.03em;
  text-align: left;

  color: #bbb6b6;
}

.newsletterform input[type="text"], input[type="email"]{
    
    padding: 30px;
    background: #EDEEEE;
border-radius: 10px;
}
.newsletterform label{

    font-family: Roboto;
    font-size: 20px;
    font-style: normal;
    font-weight: 900;
    line-height: 22px;
    letter-spacing: -0.03em;
    text-align: left;
    
}

#subscribebtn {
  background-color: var(--main);
  height: 60px;
  padding: 10px 20px;
  font-family: Roboto;
font-size: 25px;
font-style: normal;
font-weight: 900;
line-height: 29px;
letter-spacing: -0.03em;
text-align: center;
margin-top: 28px;

}

button#mainbutton {
  background-color: var(--main);
  color: #fff;
  border-radius: 20px;
  padding: 15px 30px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 900;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: -0.03em;
}
button#outlinebutton {
  border: 2px solid var(--main);
  color: var(--main);
  border-radius: 20px;
  padding: 15px 30px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 900;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: -0.03em;
}
button.readmorebtn {
  background-color: var(--main);
  color: #fff;
  border-radius: 20px;
  padding: 15px 30px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 900;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: -0.03em;
}

.card-subtitle {
  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 900;
  line-height: 14px;
  letter-spacing: -0.03em;
  text-align: left;
}

.card-body.lastcards {
  width: 411px;
  height: 389px;
  border-radius: 10px;
  background-color: var(--mint);
  color: #fff;
  padding: 20px 50px;
}

.card-title {
  font-family: Roboto;
  font-size: 20px;
  font-style: bold;
  font-weight: 900;
  line-height: 23px;
  letter-spacing: -0.03em;
  text-align: left;
}

.card-text {
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 300;
  line-height: 19px;
  letter-spacing: -0.03em;
  text-align: left;
}

.teamlearning {
  font-family: Roboto;
  font-size: 30px;
  font-style: normal;
  font-weight: 900;
  line-height: 35px;
  letter-spacing: -0.03em;
  text-align: left;
}

.occupation {
  font-family: Roboto;
  font-size: 20px;
  font-style: normal;
  font-weight: 300;
  line-height: 23px;
  letter-spacing: -0.03em;
  text-align: left;
}

.blogtitle {
  font-family: Roboto;
  font-size: 40px;
  font-style: normal;
  font-weight: 900;
  line-height: 45px;
  letter-spacing: -0.03em;
  text-align: left;
}

.col-lg-11 {
  font-family: Roboto;
  font-size: 40px;
  font-style: normal;
  font-weight: 900;
  line-height: 47px;
  letter-spacing: -0.03em;
  text-align: left;
  color: #6a7575;
}

.card {
  outline: none;
}

.captionposition {
  position: absolute;
  top: 30;
  left: 30;
}

/* .relativecontainer{
    position: relative;

} */

.leftcarousel {
  background-color: #fff;
  width: 100%;
  position: absolute;
  top: 310px;
  left: 0px;
  z-index: 2;
  max-height: 64vh;
  max-width: 59vw;
  left: 0px;
  padding: 117px 140px;
}

/* .card-body-2{
    position: absolute;
    bottom: -40px;
    top: 350px;
    right: 40px;
    background-color: #fff;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    min-height: 1px;
    padding: 1.25rem;
}  */

.carouselheader {
  font-family: Roboto;
  font-size: 40px;
  font-style: normal;
  font-weight: 900;
  line-height: 45px;
  letter-spacing: -0.03em;
  text-align: left;
}

.carouselsubheader {
  font-family: Roboto;
  font-size: 20px;
  font-style: normal;
  font-weight: 300;
  line-height: 23px;
  letter-spacing: -0.03em;
  text-align: left;
}

.carousel-inner img {
  height: 700px;
}
/* */

.carousel .carousel-indicators li {
  width: 10px;
  height: 10px;
  border-radius: 100%;
  background-color: var(--main);
}

ol.carousel-indicators {
  bottom: -50px;
  right: 20px;
  color: var(--main);
  justify-content: flex-start;
  margin: 0;
}



/* #inputState.form-control{
    padding: 20px;
} */

.carousel-indicators li {
  background-color: var(--main);
}

.carousel-indicators .active {
  background-color: #c4c4c4;
}

@media (max-width: 1039px) {
  .leftcarousel {
    display: flex;
    flex-direction: column;
    font-size: 10px;
    align-items: flex-start;
    padding: 15px 10px;
    width: 100%;
    height: auto;
    justify-content: space-between;
    position: absolute;
    top: 100px;
    bottom: 20px;
    font-size: 15px;
  }

   h1.mint.carouselheader{
      font-size: 25px;
      line-height: 22px;
      padding-top: 20px;
  }

  .leftcarousel button {
    padding: 0;
  } 

  .relativecontainer{
    position: relative;

}


  .carousel-inner img {
    height: 50vh;
  }

  .fontfamily{
      
  }

}
